@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

:root {
    --main-bg-color: rgb(227, 232, 239);
    --secondary-bg-color: rgb(68,145,206);
    --highlight-bg-color: rgb(243, 205, 73);
    --border-radius: 15px;
}

body{
    height: 100vh;
}

.container{
    display: grid;
    resize: both;
    grid-template-columns: 200px 4fr;
    grid-template-rows: 150px 3fr;
    height: 100%;
}

/******************************
        SIDE BAR
*******************************/
.sidebar {
    background-color: var(--secondary-bg-color);
    grid-row: 1 / 3;
    color: white;
    display: grid;
    grid-template-rows: 40px 180px 180px;
    gap: 30px;
    padding: 30px;
    padding-left: 5px;
}

ul{
    list-style: none;
}

.logo {
    font-size: 16pt;
    font-weight: bold;
}

 .menu{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    font-weight: 500;
} 

.attribution{
    align-self: end;
    justify-items: center;
}

.attribution a{
    color: white;
    font-size: 8pt;
}

svg{
    width: 14pt;
    fill: white;
    justify-self: center;
}

.logo svg{
    width: 26pt;
}

.header svg{
    fill: black;
}

/******************************
        HEADER
*******************************/

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 10px 30px 30px 30px;
    box-shadow: 0px 5px rgb(212, 216, 222);
}

.search{
    display: grid;
    grid-template-columns: 20px minmax(600px, 100%);
    align-items: center;
    gap: 20px;
}

.searchbar {
    background-color: var(--main-bg-color);
    border-style: none;
    border-radius: var(--border-radius);
    padding: 5px 15px 5px 15px;
    width: 100%;
}

.currentuser{
    display: grid;
    grid-template-columns: 30px 60px 120px;
    grid-template-rows: 1fr;
    gap: 10px;
    justify-self: right;
}

.currentuser svg{
    justify-self: right;
    align-self: center;
}

.currentuser .user-pfp-small {
    justify-self: right;
}

.currentuser .fullname{
    font-weight: 500;
    justify-self: right;
    align-self: center;
}

.user{
    display: grid;
    grid-template-columns: 60px 300px;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
}

.user-pfp,
.user-pfp-small{
    background-color: var(--highlight-bg-color);
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.user-pfp{
    height: 60px;
    width: 60px;
    grid-row: 1 / 3;
}

.user-pfp-small{
    height: 40px;
    width: 40px;
}

.user-pfp img{
    width: 40px;
}

.user-pfp-small img{
    width: 25px;
}

.greeting{
    align-self: end;
    font-size: 10pt;
    font-weight: 500;
}
.fullname-username{
    align-self: top;
    font-size: 16pt;
    font-weight: 600;
    padding-bottom: 10px;   
}

.header-btn-group{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    align-self: end;
    justify-self: right;
}

.header-btn-group > input{
    background-color: var(--secondary-bg-color);
    border-style: none;
    border-radius: var(--border-radius);
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 12pt;
}

/******************************
        MAIN CONTENT
*******************************/

.main-content {
    background-color: var(--main-bg-color);
    grid-column: 2 / 4;
    z-index:-1;
}